.screen {
    width: 100%;
}

@media screen and (min-width: 769px) {
    .screen {
        max-width: 667px;
    }
}

.row {
    justify-content: center;
}

.footer-ul {
    display: flex;
    list-style: none;
}

.address {
    font-size: 12px;
    max-width: 640px;
    margin: 10px;
    text-align: center;
    word-break: keep-all;
}

.span {
    justify-content: space-between;
    margin-right: 10px;
}